<div class="container   w-100">

    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Seja bem vindo ao Blog</h1> 
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p  class="text-justify text-monospace"> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Earum alias esse nemo perspiciatis tempora, necessitatibus aliquam vero repellendus deleniti ducimus molestias exercitationem dolorem officiis dolor temporibus sapiente asperiores aspernatur? Aspernatur! <br> 
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus temporibus odio similique provident distinctio officiis quasi, veritatis ut aspernatur aut at fugiat dolorem aperiam praesentium rem commodi, ab quas sunt.
            </p>
        </div>
    </div>
</div>

    <div class="parallax"> </div>>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btnbtn-outline-dark text-uppercase font-weight-bold"> Feed </button>
        </div>
   


</div>
