<div class="card border-0" style="width: 18rem;">
    
    <div class="d-flex justify-conten-center"> 
        <img class="card-img-top rounded-circle w-75" src="https://scontent-gru2-2.xx.fbcdn.net/v/t1.0-9/70321931_2647683951945213_257502582388293632_n.jpg?_nc_cat=110&_nc_sid=09cbfe&_nc_ohc=Ua8i3dHDIHEAX946AIX&_nc_ht=scontent-gru2-2.xx&oh=b2fc411fafd585721d07a4890482ee61&oe=5F9AE596" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Geovanna Renata</h5>
      <p class="card-text text-center text-monospace">Desenvolvedora Fullstack Java Jr</p>
      
      <!-- Botões -->
      <a href="https://www.linkedin.com/in/geovanna-renata/" 
        class="btn btn-outline-info mb-3 d-flex justify-content-center "   
        target="_blank"> LinkedIn </a>
        
      <a href="https://github.com/geovannarenata" 
        class="btn btn-outline-dark d-flex justify-content-center"    
        target="_blank"> Github </a>

    </div>
  </div>
